.readerText{

text-decoration: justified;
font-size: 42px;
padding:20px;
vertical-align: middle;
text-align: center;

}

.startReader{
    vertical-align: middle;
    text-align: center;
    width:100%;
    height:50px;

}

.wordStart{

    position: relative;
    left:10%;
    vertical-align: middle;
    text-align: center;

}

.wordMiddle{
    position: relative;
    left:20%;
    vertical-align: middle;
    text-align: center;
}

.wordEnd{

    position: relative;
    left:30%;
    vertical-align: middle;
    text-align: center;
}




