h1 {
    font-size: 30px;
    letter-spacing: 2px;
}

.numberInput{
    font-size: 34px;
    width:50%;
    background: rgba(255,255,255,0.2);
 
}


.equation{
    font-size: 34px;
    width:50%;
}

.numberBtn{
  
}