<ion-header class="animated fadeIn">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



        <ion-card >
          <ion-row >
            <ion-card-header>
            
              <ion-card-title  style="font-size:34px; letter-spacing: 1px; " class="animated fadeIn faster"><span  style="letter-spacing: 1px; " >ADHD</span>ecoder </ion-card-title>

              <ion-card-subtitle style="font-size:14px; margin:0 auto; padding-bottom:10px;  letter-spacing: 0.1em;  font-style: italic; text-transform: uppercase;" class="animated fadeIn delay-1.2s faster">Recode Your Memory, Cognition & Focus</ion-card-subtitle>
            </ion-card-header>

          </ion-row>
          
            <ion-card-content>
                <ion-row>
                  <ion-text  class="animated fadeIn fast">
                    <h2>
                      <p>
                      In the book The Distracted Mind: Ancient Brains in a High-Tech World, Adam Gazzaley & Larry D. Rosen point out that with the ultra fast emergence of new technologies requiring rapid responses to emails, texts & working on multiple projects simultaneously. </p> <br> <p> <b> Our brains have become optimized for rapid task switching, especially in the younger population. </b> </p> <br> <p> As a result, we all are having greater problems with sustaining attention & we easily become distracted.
                    </p>  <br> <p>
Recently, a team from the Behavioural & Clinical Neuroscience Institute at the University of Cambridge,<b> have developed a simple game that is aimed at helping users drastically improve their cognition, memory & concerntration.</b>
</p>  <br> <p> 
<b> In a study published in the journal Frontiers in Behavioural Neuroscience, </b> Professor Sahakian & colleague Dr George Savulich have  demonstrated that  <b> playing this game for around 10-15 minutes a day, greatly improves attention & concentration, </b> with noticeable effects after just one month.
</p>   <br> <p>
<b>In this study, the researchers divided 75 healthy young adults into three groups: one group played Decoder, one control group played Bingo for the same amount of time & another control group didnt play either game.</b>
</p>  <br> <p>
All 75 participants were tested at the start of the trial & then after four weeks using the CANTAB Rapid Visual Information Processing test.
</p> <br> <p>
<b>Results from the study showed a significant difference in attention & cognition </b> as measured by the RVP. Those who played this game scored significantly better than those who played Bingo & those who played no games at all.
</p> <br> <p>

  ADHDecoder is a free implementation of this concept, with more advanced features being added along the way, to ultimately yield even larger benefits in mental performance.

</p>  
</h2>
</ion-text>   




                  </ion-row>

                  <ion-row text-center padding-top>
                    <ion-col>

                      <ion-button style="width:100%;" shape="round" fill="outline" routerDirection="root" (click)="goToGame()"> Get Started </ion-button>
                    </ion-col>
                  </ion-row>

            </ion-card-content>
          </ion-card>
          
    
          

  
</ion-content>
